<div id="footer-view">
  <div class="footer-container">
    <div class="left"><a href="https://www.strava.com/mobile" target="_blank"><img src="static-assets/images/logos/api_logo_pwrdBy_strava_stack_gray.png"></a></div>
    <div class="right">
      <div class="icons">
      <a href="https://www.instagram.com/trailburning/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/TrailburningMountainRush/" target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="credit"><span class="user-action action-signout"><a href="{$BaseHTTPURL}" class="signout">Sign out</a> | </span><a href="{$BaseHTTPURL}campaign/{$Campaign.CampaignID}/privacy">Privacy</a> | <a href="http://trailburning.com" target="_blank">Trailburning</a>&reg; - 2018</div>
    </div>
  </div>
  <div class="logo-container">
    <div class="mr-logo"><img src="static-assets/images/logos/mr_logo.png"></div>
  </div>
</div>
