<title><%= Campaign.CampaignName %></title>
<meta charset="utf-8">
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="google" value="notranslate">

<meta property="fb:app_id" content="626606520795449" />

<meta property="og:type" content="website" />

<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//vjs.zencdn.net/4.12/video-js.css">

<link href="https://fonts.googleapis.com/css?family=Signika:400,300,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link href='/static-assets/css/dist.min.css' rel='stylesheet' />