<div class="intro-text centre-text">
Hi {{= player.firstname }}, 
{{ if (player.game_notifications == '1') { }}
  during your climb you'll receive activity emails with your progress up the mountain, click <span class="btn-prefs link">here</span> if you'd rather not get them.
{{ } else { }}
  during your climb you won't receive any activity emails with your progress up the mountain, click <span class="btn-prefs link">here</span> if you'd like to get them.
{{ }; }}
</div>
