{{ var fundraising_item = fundraising.items[fundraising.random_item_pos] }}

<div class="fundraising">
  <h2>Want to see more during your climb?</h2>
  <div class="intro-text centre-text">Support {$Campaign.ClientShortName} when you {{= campaign.name }} and unlock special content by adding <a class="link" href="https://www.justgiving.com/" target="_blank">JustGiving</a> fundraising to your campaign!</div>
</div>

<div class="shopping-list">
  <div class="shopping-list-item clearfix">
    <div class="image"><img class="fade_on_load" src="{{= fundraising_item.image }}?fm=jpg&q=80&w=248"></div>
    <div class="content">
      <div class="text">
        <div class="amount">£{{= fundraising_item.amount }}</div>
        <div class="item-title">{{= fundraising_item.buy }}</div>
        <div class="item-title big">{{= fundraising_item.title }}</div>
        {{= fundraising_item.description }}
      </div>
    </div>
  </div>
</div>

<div class="btns">
  <div class="donate-item visible-xs"><span class="btn mr-btn btn-primary btn-fundraise">Enable Fundraising</span></div>
  <div class="donate-item hidden-xs"><span class="btn mr-btn btn-primary double btn-fundraise"><div>Enable Fundraising</div><div>Now</div></span></div>
</div>
