body {
  line-height: 1.3em;
}

h1,
h2 {
  padding: 0 0 4px 0;
  font-family: 'radikalbold', sans-serif;
  line-height: 1.2em;
  color: #474747;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2em;
  line-height: 1em;
}

h2 {
  font-size: 1em;
}

.strong {
  font-family: 'radikalbold', sans-serif;
  color: #474747;
  text-transform: uppercase;
}

/* HEADER VIEW */
/******************************************/
#header-view {
  position: relative;
}

/* PAGE VIEW */
/******************************************/
#page-view {
  position: relative;
  overflow: hidden;
}

/* HERO VIEW */
/******************************************/
#hero-view {
  position: relative;
  width: 100%;
  height: 330px;

  .image {
    width: 100%;
    height: 330px;
  }

  .hero-container {
    position: relative;
  }

  .campaign-title {
    position: absolute;
    left: 18px;
    bottom: 26px;
    color: #fff;
  }

  .campaign-title .campaign-tagline {
    font-family: 'radikalbold', sans-serif;
    font-size: 3.5em;
    line-height: 0.9em;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-shadow: 0 10px 10px rgba(25, 56, 72, 0.2);
    -moz-text-shadow: 0 10px 10px rgba(25, 56, 72, 0.2);
    text-shadow: 0 10px 10px rgba(25, 56, 72, 0.2);
  }
  .campaign-title .campaign-tagline .bigger {
    font-size: 1.2em;
    line-height: 0.85em;
  }
}

.campaign-tagline2 {
  margin-top: 20px;
  font-family: 'radikalbold', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

.campaign-tagline3 {
  margin-top: 5px;
  font-size: 1.2em;
}

#campaign-summary-sticker-view {
  position: absolute;
  bottom: 164px;
  right: 62px;
}

/* CAMPAIGNS VIEW */
/******************************************/
#challenges-view {
  position: relative;

  .challenges-container-view {
    font-size: 1.2em;
    line-height: 1.3em;

    .challenge-view {
      margin: 12px;
      padding: 14px;  
      background: #FFF;
      box-shadow: 0px 5px 10px rgba(25, 56, 72, 0.2);

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .image-container {
          position: relative;

          .image {
            width: 100%;
            height: 256px;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .blank {
            position: relative;
            width: 100%;
            height: 200px;
            background: #eeeeec;

            .text {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              margin-top: -62px;
              text-align: center;
              font-size: 3.2em;
              line-height: 1em;
              text-transform: uppercase;
            }
          }

          .campaign-sticker {
            position: absolute;
            bottom: 25px;
            left: 30px;
          }
        }

        .text-container {
          padding: 30px 20px 0 20px;

          p {
            padding: 6px 0;
          }

          .form-container {
            padding: 8px 0;

            .form-check {
              margin: 11px 0;
            }
          }
        }

        .butty {
          margin-top: auto;
          padding: 0 20px 20px 20px;
        }
      }
    }
  }

  input[type='radio'] {
    margin-right: 12px;
  }  
}

/* INTRO VIEW */
/******************************************/
#intro-view {
  position: relative;
  padding: 44px 16px 46px 16px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3em;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  -moz-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
}

#intro-view .intro-container-view .text {
  padding: 0 20px;
}

#intro-view .intro-container-view .video-container {
  display: none;
  padding: 20px 0 0 0;
}

#intro-view .intro-container-view .btns {
  padding: 28px 0 0 0;
}

/* SUMMARY VIEW */
/******************************************/
.summary-total-raised .total-raised-sticker {
  padding-top: 64px;
  width: 218px;
  height: 218px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #fff;
  background: rgb(241,109,73);
  background: linear-gradient(0deg, rgba(241,109,73,1) 0%, rgba(246,151,65,1) 85%, rgba(246,151,65,1) 100%);
  -webkit-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  -moz-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);

  &.sm {
    padding-top: 44px;
    width: 182px;
    height: 182px;
  }

  .break {
    padding: 12px 0 0 0;
    margin: 0 auto;
    width: 108px;
    height: 2px;
    border-right: none;
    border-bottom: 2px solid #fff;
  }

  .total {
    font-size: 2.55em;
  }

  .title {
    padding-top: 12px;
    font-size: 1.2em;
    line-height: 1em;
  }

  .title-sub {
    padding: 6px 32px;
    font-size: 0.8em;
    line-height: 1.1em;
  }
}

.summary-total-climbed {
  text-align: center;
  color: #9b9b9b;
  text-transform: uppercase;

  .total {
    color: #474747;
    font-size: 3.2em;
    line-height: 1em;
  }

  .title {
    padding-top: 8px;
    font-size: 1.2em;
    line-height: 1em;
  }

  .title-sub {
    padding-top: 4px;
    font-size: 0.8em;
    line-height: 1em;
  }
}

#summary-view {
  min-height: 362px;
  background-color: #eeeeeb;
}

#summary-view .summary-container {
  padding: 58px 0 40px 0;
}

#summary-view .summary-total-raised {
  margin: 0 auto;
  width: 218px;
}

#summary-view .summary-break {
  margin: 32px auto 36px auto;
  width: 136px;
  height: 2px;
  border-bottom: 2px solid #474747;
}

/* LEADER VIEW */
/******************************************/
#leader-view {
  padding: 70px 16px 60px 16px;
  font-size: 1.2em;
  text-align: center;
  background-size: 1600px 500px;
}

#leader-view .double-bounce1, 
#leader-view .double-bounce2 {
  background-color: #fff;
}

#leader-view h1,
#leader-view h2 {
  color: #474747;
}

#leader-view .loader-view {
  margin-top: 40px;
}

#leader-view .leaders {
  padding-top: 10px;
}

#leader-view .leader {
  display: none;
  padding: 26px 0 28px 0;
}

#leader-view .leader:nth-child(1),
#leader-view .leader:nth-child(2),
#leader-view .leader:nth-child(3) {
  display: inline-block;
}

#leader-view .leader .content {
  margin: 0 auto;
  width: 214px;
  font-size: 0.8em;
  text-align: left;
}

#leader-view .leader .marker {
  position: relative;
  display: inline-block;
}

#leader-view .leader .marker:before {
  content: ' ';
  position: absolute;
  bottom: -4px;
  left: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #FFF transparent transparent transparent;
}

#leader-view .leader .marker:after {
  content: ' ';
  position: absolute;
  bottom: -19px;
  left: 24px;
  width: 12px;
  height: 12px;
  background-color: #f75f36;
  overflow: hidden;
  border-radius: 50%;
}

#leader-view .leader .avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
}

#leader-view .fundraise-detail {
  display: inline-block;
  width: 142px;
  padding-left: 12px;
  vertical-align: top;
}

#leader-view .fundraise-detail .name,
#leader-view .fundraise-detail .climbed {
  text-transform: uppercase;
}

#leader-view .fundraise-detail .amount-detail {
  margin-top: 4px;
}

#leader-view .fundraise-detail .amount {
  margin-left: 5px;
  padding: 4px;
  color: #f16d49;
  background-color: #fff;
}

/* SUPPORTER SEARCH VIEW */
/******************************************/
#supporter-search-view {
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
  background-color: #000;
  -webkit-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  -moz-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
}

#supporter-search-view h1 {
  color: #fff;
}

#supporter-search-view .supporter-search-container {
  padding: 50px 16px 0 16px;
  height: 100%;
}

#supporter-search-view .search-panel {
  position: relative;
  padding-top: 12px;
  text-align: left;
  border: none;
}

#supporter-search-view .search-panel input {
  width: 100%;
  height: 46px;
  padding: 0 15px 0 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
  background-color: #474747;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow:none;
  -webkit-box-shadow:none; 
}

.suggest .ui-autocomplete {
  z-index: 2;
  text-align: left;
  font-size: .9em;
  width: 288px;
}

.suggest .ui-autocomplete strong {
}

.suggest .ui-corner-all {
  border-radius: 0px;
}

.suggest .ui-widget-content {
  background: #FFF;
}

.suggest .ui-widget-content {
  padding: 0px;
  border: 1px solid #2e3c51;
}

.suggest .ui-autocomplete li {
  border-top: 1px solid #000;
  font-size: 1.1em;
  padding: 12px 15px;
  background: #545454;
}

.suggest .ui-autocomplete li:hover {
  cursor: pointer;
}

.suggest .ui-autocomplete li .match-name {
  color: #fff;
  text-transform: uppercase;
}

.suggest .ui-autocomplete li .match-game {
  padding-left: 12px;
  color: #9b9b9b;
}

.suggest .ui-autocomplete {
  left: 0px !important;
}

.suggest .ui-autocomplete li:last-child {
  border-bottom: none;  
}

.suggest .ui-autocomplete .ui-state-focus {
  background: #6d6d6d;
  outline: none;
  border: none;
  border-top: 1px solid #000;
}

input.ui-autocomplete-loading { 
  background:url(../images/ui/Spinner-1s-34px.gif) no-repeat 95% center; 
}

/* COMMUNITY VIEW */
/******************************************/
#community-view {
  padding: 46px 16px 56px 16px;
  font-size: 1.2em;
  text-align: center;
  background-color: #fff;
}

#community-view .shadow-break {
}

#community-view .loader-view {
  margin-top: 40px;
}

#community-view .text {
}

#community-view .post p {
  margin: 0;
  padding: 0;
}

#community-view .post a,
#community-view .post a:hover, 
#community-view .post a:active,
#community-view .post a:visited {
  color: inherit;
}

#community-view .photos {
  padding: 0 0 34px 0;
  text-align: center;
}

#community-view .post {
  display: none;
  margin: 0 auto;
  vertical-align: top;
  width: 256px;
  padding: 32px 0 0 0;
  font-size: 0.7em;
  text-align: left;
}

#community-view .post:nth-child(1),
#community-view .post:nth-child(2),
#community-view .post:nth-child(3),
#community-view .post:nth-child(4) {
  display: block;
}

#community-view .post
#community-view .post .photo {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

#community-view .post .media {
  position: relative;
}

#community-view .post .media:hover {
  cursor: pointer;
}

#community-view .post .image {
  width: 256px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#community-view .post .details {
  display: flex;
  padding-top: 8px;
}

#community-view .post .text {
  flex: 1;
  line-height: 1.4em;
}

#community-view .post .name {
  color: #3c5b6e;
  font-weight: bold;
}

#community-view .post .name a,
#community-view .post .name a:hover, 
#community-view .post .name a:active,
#community-view .post .name a:visited {
  color: inherit;
  text-decoration: none;
}

#community-view .post .credit {
}

#community-view .post .media .likes {
  position: absolute;
  bottom: 4px;
  right: 10px;
  color: #FFF;
}

#community-view .post .media .likes .icon {
  padding-right: 6px;
}

#community-view .post .media-icon {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 1.4em;
  color: #fff;
}

/* FOOTER VIEW */
/******************************************/
#footer-view .logo-container {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  #hero-view,
  #hero-view .image {
    height: 455px;
  }

  #hero-view .campaign-title .campaign-tagline {
    font-size: 5.8em;
  }
  #hero-view .campaign-title .campaign-tagline .bigger {
    font-size: 1.2em;
  }

  #hero-view .campaign-sticker {
    bottom: -48px;
  }

  #challenges-view {
    .challenges-container-view {
      .challenge-view {
        .content {
          .image-container {
            .image {
              height: 320px;
            }
          }
        }
      }
    }
  }

  #intro-view {
    font-size: 1.2em;
    padding-top: 72px;
    padding-bottom: 82px;
  }

  #intro-view .intro-container-view {
    margin: 0 auto;
    width: 670px;
  } 

  #intro-view .intro-container-view .text {
    padding: 0 40px;
  }

  #summary-view .summary-container {
    padding: 78px 0 68px 0;
    margin: 0 auto;
    text-align: center;
  }

  #summary-view .summary-break {
    display: inline-block;
    margin: 46px 52px 0 50px;
    width: 2px;
    height: 136px;
    border-bottom: none;
    border-right: 2px solid #474747;
    vertical-align: top;
  }

  #summary-view .summary-total-raised {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  #summary-view .summary-total-climbed {
    display: inline-block;
    width: 218px;
    margin: 66px 0 0 0;
    text-align: left;
    vertical-align: top;
  }

  #leader-view .leader {
    vertical-align: top;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
  }

  #leader-view .leader:nth-child(4),
  #leader-view .leader:nth-child(5),
  #leader-view .leader:nth-child(6) {
    display: inline-block;
  }

  #supporter-search-view {
    height: 200px;
  }

  #supporter-search-view .supporter-search-container {
    width: 620px;
    margin: 0 auto;
  }

  #supporter-search-view .supporter-search-container .supporter-search-content {
    width: 358px;
    margin: 0 auto;
  }

  .suggest .ui-autocomplete {
    width: 358px;
  }

  #community-view {
    padding-top: 74px;
    padding-bottom: 0px;
  }

  #community-view .text {
    width: 460px;
    margin: 0 auto;
  }

  #community-view .photos {
    padding: 8px 0 58px 0;
    width: 630px;
    margin: 0 auto;
  }

  #community-view .post {
    width: 210px;
    padding: 22px 7px 0 7px;
  }

  #community-view .post:nth-child(1),
  #community-view .post:nth-child(2),
  #community-view .post:nth-child(3),
  #community-view .post:nth-child(4),
  #community-view .post:nth-child(5),
  #community-view .post:nth-child(6),
  #community-view .post:nth-child(7),
  #community-view .post:nth-child(8),
  #community-view .post:nth-child(9) {
    display: inline-block;
  }

  #community-view .post .image {
    width: 196px;
    height: 196px;
  }

  #community-view .post .details {
    height: 60px;
    overflow: hidden;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {  
  #hero-view,
  #hero-view .image {
    height: 620px;
  }

  #hero-view .campaign-title {
    left: 105px;
    bottom: 166px;
  }

  #challenges-view {
    margin: -138px auto 0 auto;
    width: 940px;

    .challenges-container-view {
      display: flex;
      margin: 0 -12px;

      .challenge-view {
        width: 300px;

        .content {
          .image-container {
            .image {
              height: 256px;
            }
          }
        }
      }

      .challenge-view:first-child {
        width: 620px;
      }
    }
  }

  #leader-view .leaders {
    margin: 0 auto;
    width: 940px;
  }

  #community-view .photos {
    width: 840px;
  }

  #community-view .post {
    display: inline-block;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #leader-view .leaders {
    width: 1140px;
  }

  #leader-view .leader {
    display: inline-block;
  }  
}
