body.app {
  background: #0a1e29;
}

.beta {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;

  img {
    width: 100%;
  }
}

/* FOOTER VIEW */
/******************************************/
#footer-view {
  display: none;
  height: 186px;

  .logo-container {
    display: none;
    position: absolute;
    top: -80px;
    width: 100%;
  }

  .mr-logo {
    margin: 0 auto;
    width: 160px;
    text-align: center;
  }

  .mr-logo img {
    width: 100%;
  }
}

/* PAGE VIEW */
/******************************************/
#page-view {
  a.link,
  a.link:hover, 
  a.link:active,
  a.link:visited {
    color: inherit;
    text-decoration: underline;
  }

  .fundraising-partner img {
    width: 80px;
    padding: 0 0 4px 4px;
  }
}

/* VIDEO VIEW */
/******************************************/
.video-container {
  position: relative;
  top: 0;
  width: 100%;
}

.video-container .video {
  position: relative;
}

.video-container .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* HERO VIEW */
/******************************************/
#hero-view {
  display: none;
  position: relative;

  .image {
    height: 470px;

    img {
      margin-left: 60px;
    }
  }

  .titles-container {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;

    .titles {
      padding: 0 22px;
      color: #FFF;

      h1,
      h2 {
        font-family: 'radikalbold', sans-serif;
      }

      h1 {
        font-size: 2.9em;
        line-height: 1em;
        text-transform: uppercase;
      }

      h2 {
        font-size: 1.8em;
        line-height: 1em;
      }
    } 
  }
}

/* DETAILS VIEW */
/******************************************/
#details-view {
  display: none;
  padding: 52px 22px 38px 22px;
  background: #FFF;

  .content-container {
    width: 100%;

    .content {
      position: relative;

      .phone-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .phone {
          margin: -352px auto 0 auto;
          width: 158px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  h1 {
    padding-bottom: 14px;
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    padding-bottom: 10px;
    font-family: 'radikalbold', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  .btns {
    .btn {
      margin: 12px 8px 0 0;
    }
  }
}

/* HOW TO GUIDE VIEW */
/******************************************/
#howtoguide-view {
  display: none;
  padding: 40px 16px 65px 16px;
  text-align: center;
  background: #efefef;

  h1 {
    padding-bottom: 14px;
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    padding-bottom: 10px;
    font-family: 'radikalbold', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  .howtoguide-container-view {
    .step-view {
      text-align: center;

      .image {
        margin: 0 auto;
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .btns {
      padding: 28px 0 0 0;
    }
  }
}

/* FEATURE VIEW */
/******************************************/
#feature-view {
  display: none;
  padding: 64px 16px 64px 16px;
  background: #FFF;

  h1 {
    padding-bottom: 14px;
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    padding-bottom: 10px;
    font-family: 'radikalbold', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }  

  img {
    width: 100%;
  }

  .text {
    padding: 30px 0 0 0;

    .overview {
      padding: 0 0 22px 0;
    }

    .action {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }

    .feature_logo {
      display: inline-block;
      width: 50%;
      height: 54px;
      vertical-align: top;
      text-align: right;

      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .image-container {
    position: relative;
  }

  .raise-sticker-container {
    position: absolute;
    top: -116px;
    width: 100%;

    .raise-sticker {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      color: #fff;
      text-align: center;
      overflow: hidden;
      border-radius: 50%;
      border: 6px solid #fff;
      background: #f85f36;

      .currency_symbol {
        padding-right: 4px;
      }

      .total {
        font-family: 'radikalbold', sans-serif;
        padding-top: 15px;
        font-size: 2.55em;
      }

      .title {
        text-transform: uppercase;
        padding-top: 18px;
        font-size: 1.2em;
        line-height: 1em;
      }

      .title-sub {
        padding: 10px 12px;
        font-size: 0.8em;
        line-height: 1.3em;
      }
    }
  }
}

/* CHALLENGES VIEW */
/******************************************/
#challenges-view {
  display: none;
  padding: 40px 0 56px 0;
  text-align: center;
  background: rgb(23,53,69);
  background: linear-gradient(0deg, rgba(23,53,69,1) 0%, rgba(42,72,90,1) 50%, rgba(59,90,109,1) 100%);

  h1,
  h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #FFF;
  }

  h1 {
    padding-bottom: 14px;
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    padding-bottom: 10px;
    font-family: 'radikalbold', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  .cards-container {
    text-align: center;
    padding: 0;
  }

  .cards {
    .card {
      margin: 30px auto 0 auto;
      width: 295px;
      color: #3c5b6e;
      background: #EFEFEF;

      .image {
        width: 100%;
        height: 220px;
      }

      .content {
        position: relative;
        flex: 1;
        padding: 18px 22px 22px 22px;
        text-align: left;
        background: #FFF;

        .overview {
          padding: 0 0 14px 0;
        }

        h2 {
          color: #3c5b6e;
          font-size: 1.8em;
          text-transform: none;
        }

        strong {
          font-family: 'radikalbold', sans-serif;
        }
      }
    }
  }
}

/* SUPPORTER SEARCH VIEW */
/******************************************/
#supporter-search-view {
  display: none;
  position: relative;
  width: 100%;
  height: 352px;
  text-align: center;
  background-color: #0a1e29;
}

#supporter-search-view h1 {
  font-family: 'radikalbold', sans-serif;
  color: #fff;
}

#supporter-search-view .supporter-search-container {
  padding: 50px 16px 0 16px;
  height: 100%;
}

#supporter-search-view .search-panel {
  position: relative;
  padding-top: 12px;
  text-align: left;
  border: none;
}

#supporter-search-view .search-panel input {
  width: 100%;
  height: 46px;
  padding: 0 15px 0 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
  background-color: #3c5b6f;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow:none;
  -webkit-box-shadow:none; 

  &::placeholder { /* Firefox, Chrome, Opera */ 
    color: #fff;
  } 
    
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #fff;
  } 
    
  &::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #fff;
  }
}

#supporter-search-view .supporter-avatar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .supporter-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url(../images/avatar.png) no-repeat top center;
  }
}

.suggest .ui-autocomplete {
  z-index: 2;
  text-align: left;
  font-size: .9em;
  width: 288px;
}

.suggest .ui-autocomplete strong {
}

.suggest .ui-corner-all {
  border-radius: 0px;
}

.suggest .ui-widget-content {
  background: #FFF;
}

.suggest .ui-widget-content {
  padding: 0px;
  border: 1px solid #2e3c51;
}

.suggest .ui-autocomplete li {
  border-top: 1px solid #000;
  font-size: 1.1em;
  padding: 12px 15px;
  background: #3c5b6f;
}

.suggest .ui-autocomplete li:hover {
  cursor: pointer;
}

.suggest .ui-autocomplete li .match-name {
  color: #fff;
  text-transform: uppercase;
}

.suggest .ui-autocomplete li .match-game {
  padding-left: 12px;
  color: #fff;
}

.suggest .ui-autocomplete {
  left: 0px !important;
}

.suggest .ui-autocomplete li:last-child {
  border-bottom: none;  
}

.suggest .ui-autocomplete .ui-state-focus {
  background: #0a1e29;
  outline: none;
  border: none;
  border-top: 1px solid #0a1e29;
}

input.ui-autocomplete-loading { 
  background:url(../images/ui/Spinner-1s-34px_blue.gif) no-repeat 95% center; /* loading.io */
}

/* CAMPAIGNS VIEW */
/******************************************/
#campaigns-view {
  display: none;
  padding: 14px 16px 56px 16px;
  background-color: #efefef;

  h1 {
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    font-family: 'radikalregular', sans-serif;
    padding-top: 10px;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  .campaign {
    padding: 30px 0 0 0;

    .text {
      .overview {
        padding: 10px 0 8px 0;
      }
    }

    .image {
      padding: 30px 0 0 0;
    }
  }

  img {
    width: 100%;
  }
}

/* GET ACTIVE VIEW */
/******************************************/
#get-active-view {
  display: none;
  padding: 48px 16px 56px 16px;
  background-color: #FFF;
  text-align: center;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  h1 {
    padding-bottom: 14px;
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    padding-bottom: 10px;
    font-family: 'radikalbold', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  .cards-container {
    text-align: center;
    padding: 0;
  }

  .cards {
    .card {
      margin: 30px auto 0 auto;
      width: 295px;
      background: #EFEFEF;

      .image {
        width: 100%;
        height: 220px;
      }

      .content {
        position: relative;
        flex: 1;
        padding: 18px 22px 22px 22px;
        text-align: left;
        color: #FFF;
        background: rgb(23,53,69);
        background: linear-gradient(0deg, rgba(23,53,69,1) 0%, rgba(42,72,90,1) 50%, rgba(59,90,109,1) 100%);

        .overview {
          padding: 0 0 14px 0;
        }

        .avatar {
          position: absolute;
          right: 18px;
          bottom: 16px;
          width: 60px;
          height: 60px;
        }

        .activity {
          background: #8db7cc;
        }

        h2 {
          font-size: 1.8em;
          text-transform: none;
        }

        strong {
          font-family: 'radikalbold', sans-serif;
        }
      }
    }
  }
}

/* COMMUNITY VIEW */
/******************************************/
#community-view {
  display: none;
  padding-top: 44px;
  background-color: #EFEFEF;
  text-align: center;

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  h1 {
    padding-bottom: 14px;
    font-family: 'radikalbold', sans-serif;
    font-size: 2em;
  }

  h2 {
    padding-bottom: 10px;
    font-family: 'radikalbold', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  h3 {
    padding-bottom: 15px;
    font-size: 1em;
  }  

   .post p {
    margin: 0;
    padding: 0;
  }

  .loader-view {
    margin-top: 40px;
  }

  .icons {
    font-size: 2em;
  }

  a,
  a:hover, 
  a:active,
  a:visited {
    color: inherit;
  }

  .photos {
    padding: 0 0 116px 0;
    text-align: center;
  }

  .post {
    display: none;
    margin: 0 auto;
    vertical-align: top;
    width: 256px;
    padding: 32px 0 0 0;
    font-size: 0.9em;
    text-align: left;
  }

  .post:nth-child(1),
  .post:nth-child(2),
  .post:nth-child(3),
  .post:nth-child(4),
  .post:nth-child(5),
  .post:nth-child(6) {
    display: block;
  }

  .post
  .post .photo {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
  }

  .post .media {
    position: relative;
  }

  .post .media:hover {
    cursor: pointer;
  }

  .post .image {
    width: 256px;
    height: 256px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .post .details {
    padding-top: 8px;
  }

  .post .text {
    line-height: 1.4em;
  }

  .post .name {
    color: #3c5b6e;
    font-weight: bold;
  }

  .post .name a,
  .post .name a:hover, 
  .post .name a:active,
  .post .name a:visited {
    color: inherit;
    text-decoration: none;
  }

  .post .media .likes {
    position: absolute;
    bottom: 4px;
    right: 10px;
    color: #FFF;
  }

  .post .media .likes .icon {
    padding-right: 6px;
  }

  .post .media-icon {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 1.4em;
    color: #fff;
  }
}

.web #hero-view,
.web #details-view,
.web #howtoguide-view,
.web #feature-view,
.web #challenges-view,
.web #supporter-search-view,
.web #campaigns-view,
.web #get-active-view,
.web #community-view {
  display: block;
}

.app #challenges-view {
  background: rgb(23,53,69);
}

.app #challenges-view,
.app #supporter-search-view {
  display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .beta {
    width: 125px;
  }

  .stripe {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 88px;
    top: 72px;
    background: #fff;
  }

  #footer-view {
    height: 200px;
  }

  #footer-view .logo-container {
    display: block;
    top: -100px;
  }

  #footer-view .mr-logo {
    width: 200px;
  }

  #hero-view {
    .image {
      height: 406px;

      img {
        margin-left: 0;
      }
    }

    .titles-container {
      top: auto;
      bottom: 92px;

      .titles {
        h1 {
        font-size: 5.5em;
        }

        h2 {
          font-size: 3.5em;
        }
      }
    }
  }

  #details-view {
    padding: 38px 16px 38px 16px;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
    }    

    .content-container {
      .content {
        .text {
          width: 420px;
        }

        .phone-container {
          left: auto;
          right: 0;
          width: auto;

          .phone {
            margin: -330px 0 0 0;
            width: 250px;
          }
        }

      }
    }
  }

  #howtoguide-view {
    padding: 70px 16px 60px 16px;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
    }    

    .howtoguide-container-view {
      .steps-container-view {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .step-view {
          width: 320px;
        }
      }
    }
  }

  #feature-view {
    margin: 0 auto;
    text-align: center;
    padding: 64px 0px 64px 0px;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
      line-height: 1.3em;
    }

    .image {
      padding: 30px 16px 0 16px;
    }

    .text {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  #challenges-view {
    padding: 64px 0 78px 0;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
    }

    .loader-view {
      margin-top: 40px;

      .double-bounce1, 
      .double-bounce2 {
        background-color: #FFF;
      }
    }

    .cards-container {
      padding: 22px 0 0 0;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      
      .card {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        margin-right: 14px;
      }
    }
  }

  #campaigns-view {
    margin: 0 auto;
    text-align: center;
    padding: 14px 0px 44px 0px;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
    }

    .image {
      padding: 30px 20px 0 20px;
    }
  }

  #get-active-view {
    padding: 64px 0 92px 0;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
    }

    .cards-container {
      padding: 22px 0 0 0;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      
      .card {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        margin-right: 14px;
      }
    }
  }

  #supporter-search-view {
    height: 200px;

    .supporter-search-container {
      width: 600px;
      margin: 0 auto;

      .supporter-search-content {
        width: 358px;
        margin: 0 auto;

        .test {
          position: relative;
          left: 100px;
        }
      }
    }
  }

  #supporter-search-view .supporter-avatar-container {
    width: auto;
    left: auto;

    .supporter-avatar {
      margin: 0;
    }
  }

  .suggest .ui-autocomplete {
    width: 358px;
  }

  #community-view {
    padding-top: 74px;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.2em;
    }

    .photos {
      padding: 30px 0 160px 0;
      width: 630px;
      margin: 0 auto;
    }

    .post {
      width: 210px;
      padding: 22px 7px 0 7px;
    }

    .post:nth-child(1),
    .post:nth-child(2),
    .post:nth-child(3),
    .post:nth-child(4),
    .post:nth-child(5),
    .post:nth-child(6),
    .post:nth-child(7),
    .post:nth-child(8),
    .post:nth-child(9) {
      display: inline-block;
    }

    .post .image {
      width: 196px;
      height: 196px;
    }

    .post .details {
      height: 60px;
      overflow: hidden;
    }
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #hero-view {
    .titles-container {
      .titles {
        margin: 0 auto;
        padding: 0;
        width: 842px;
      } 
    }
  }

  #details-view {
    .content-container {
      .content {
        margin: 0 auto;
        width: 842px;
      }
    }
  }

  #feature-view {
    .raise-sticker-container {
      width: auto;
      top: 28px;
      left: initial;
      right: 32px;

      .raise-sticker {
        margin: 0;
      }
    }

    .text {
      display: inline-block;
      vertical-align: top;
      width: 482px;
      padding: 0 0 0 50px;
      text-align: left;
    }

    .image {
      display: inline-block;
      padding: 0;
      vertical-align: top;
      width: 458px;
    }
  }

  #campaigns-view {
    padding: 38px 0px 80px 0px;

    .text {
      display: inline-block;
      vertical-align: top;
      width: 320px;
      padding: 86px 0 0 0;
      text-align: left;
    }

    .image {
      display: inline-block;
      padding: 0;
      vertical-align: top;
      width: 620px;
    }
  }

  #community-view {
    .photos {
      width: 840px;
    }

    .post {
      display: inline-block;
    }
  }
}
