#howToGuide {
  position: relative;
  font-size: 1.2em;

  .howToStep {
    &:nth-child(odd) {
      background: #eeeeeb;
    }

    &:nth-child(even) {
      background: #fff;
    }

    .content {
      padding: 44px 16px 46px 16px;
    }
  }

  .animated {
    position: relative;
    left: 100px;
    transition: left 0.4s linear;
  }
  .animated img {
    height: 220px;
    transition: opacity 0.3s linear;
    opacity: 0.2;
  }

  .animated.fadeIn {
    left: 0px;
  }
  .animated.fadeIn img {
    opacity: 1;
  }

  .animated.fadeOut img {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  #howToGuide {
    .howToStep {
      .content {
        margin: 0 auto;
        width: 670px;

        .text {
          display: inline-block;
          width: 50%;
        }

        .image {
          display: inline-block;
          width: 50%;
        }
      }
    }

    .animated img {
      height: 380px;
    }
  }
}