h1,
h2 {
  padding: 0 0 4px 0;
  font-family: 'radikalbold', sans-serif;
  line-height: 1.2em;
  text-transform: uppercase;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

ul.pills {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.pills li {
  display: inline-block;
  line-height: 35px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 18px;
}

.pill {
  border: 1px #f7f7f7 solid;
  text-decoration: none;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 8px;
  color: inherit;
}

.pill.active,
.pill:hover {
  cursor: pointer;
  border: 1px #ea6f5f solid;
  text-decoration: none;
  background: #FFF;
  color: #ea6f5f
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2e3c51;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #2e3c51;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #2e3c51;
}
:-moz-placeholder { /* Firefox 18- */
  color: #2e3c51;
}

/* DATEPICKER */
/******************************************/
.datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active:active, .datepicker td span.active:focus, .datepicker td span.active:hover, .datepicker td span.active[disabled], .datepicker td.active.active, .datepicker td.active.disabled, .datepicker td.active:active, .datepicker td.active:focus, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active:hover.disabled, .datepicker td.active:hover:active, .datepicker td.active:hover:focus, .datepicker td.active:hover:hover, .datepicker td.active:hover[disabled], .datepicker td.active[disabled] {
  color: #FFF;
  background-color: #3c5b6e;
  background-image: none;
}

/* FOOTER VIEW */
/******************************************/
#footer-view .logo-container {
  display: none;
}

/* HERO VIEWS */
/******************************************/
#hero-view {
  position: relative;
}

#hero-view .image {
  width: 100%;
  height: 220px;
}

/* REGISTER LOADER VIEW */
/******************************************/
#register-loader-view {
  padding-top: 100px;
}

/* REGISTER PROCESS VIEWS */
/******************************************/
#register-process-view {
  position: relative;
  background-color: #FFF;
  text-align: center;
  min-height: 500px;
}

#register-process-view .support {
  padding-top: 0px;
}

#register-process-view a.link, #register-process-view .link,
#register-process-view a.link:active,
#register-process-view a.link:visited {
  color: inherit;
  text-decoration: underline;
}

#register-process-view a.link:hover, #register-process-view .link:hover {
  color: inherit;
  text-decoration: none;
}

#register-process-view .campaign-sticker-container {
  display: none;
  position: absolute;
  bottom: -62px;
  width: 100%;
}

#register-process-view .campaign-sticker {
  margin: 0 auto;
}

/* REGISTER VIEWS */
/******************************************/
.register-views {
  padding: 52px 16px;
}

/* REGISTER VIEW */
/******************************************/
.register-view {
  display: none;
  padding-bottom: 32px;

  .intro-text {
    padding-top: 4px;
    font-size: 1.2em;
  }

  .form-back {
    display: block;
  }

  form {
    padding-top: 32px;
  }

  textarea {
    height: 150px;
  }

  .form-group,
  .form-check {
    margin: 0;
    padding: 6px 0;
  }

  .form-button {
    padding: 20px 0;
  }

  .form-label {
    display: block;
  }

  .form-label.top {
    vertical-align: top;  
  }

  .preferences label {
    text-transform: none;
  }

  .form-label label {
    padding: 0;
    font-family: 'radikalbold', sans-serif;
  }

  input[type='checkbox'],
  input[type='radio'] {
    margin-right: 8px;
  }

  .calendar {
    position: relative;
    margin: 20px auto 0 auto;
    padding: 34px 0 22px 0;
    width: 124px;
    background: #eeeeec;
    font-family: 'radikalbold', sans-serif;
    text-transform: uppercase;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 22px;
      background: #f16c49;
    }

    .day {
      font-size: 1.1em;
      line-height: 1em;
    }

    .date {
      padding-top: 2px;
      font-size: 4em;
      line-height: 1em;
      color: #474747;
    }

    .month {
      font-size: 1.4em;
      line-height: 1.1em;
      color: #474747;
    }
  }

  .form-block {
    padding: 20px 0;
  }

  .form-field {
    padding-top: 12px;
    font-size: 1.2em;
  }

  .section {
    padding-top: 40px;
  }

  .connect {
    padding: 12px 0 20px 0;
  }

  .social {
    padding-top: 40px;
  }

  .fundraising {
    padding-top: 40px;
  }

  .shopping-list {
    padding-top: 22px;
  }

  .btns {
    padding-top: 30px;

    .btn {
      margin: 0 14px 14px 14px;
    }
  }

  .btn {
    font-size: 1.2em;
  }

  .challenge {
    margin-top: 12px;
  }

  .invitation-accepted,
  .invitation-rejected {
    display: none;
  }

  .invitation .btns .btn {
    margin: 0 4px 14px 4px;
  }

  .prefs {
    margin-top: 12px;
  }
}

a .link,
a:active, .link:active,
a:visited .link:visited {
  color: inherit;
  text-decoration: underline;
}

a:hover, .link:hover {
  cursor: pointer;
  text-decoration: none;
}

#register-welcome-view {
  padding-bottom: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #hero-view .image {
    height: 360px;
  }

  #register-process-view .campaign-sticker-container {
    z-index: 2;
    display: block;
  }

  .register-view .centre-text {
    padding-left: 120px;
    padding-right: 120px;
  }

  .register-view .form-label {
    display: inline-block;
    width: 180px;
    text-align: right;
    vertical-align: middle;
  }

  .register-view .form-check-label {
    display: inline-block;
    width: 240px;
    text-align: left;
  }

  .register-view .form-label label {
    padding: 0 22px 0 0;
    text-align: right;
  }

  .register-view .field {
    display: inline-block;
    width: 240px;
    text-align: left;
    vertical-align: middle;
  }

  .register-view input[type='checkbox'] {
    width: auto;
  }

  .register-view .form-info {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
  }

  .register-view .help-block {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #hero-view {
    -webkit-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
    -moz-box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
    box-shadow: 0px 10px 10px 0 rgba(25,56,72,0.2);
  }

  #hero-view .image {
    height: 484px;
  }

  #register-process-view {
    margin: -236px auto 0 auto;
    width: 670px;
  }

  #register-process-view .register-views {
    padding-left: 34px;
    padding-right: 34px;
  }

  .register-view .centre-text {
    padding-left: 80px;
    padding-right: 80px;
  }
}
