body {
  color: #000;
}

h1 {
  padding: 0 0 8px 0;
  font-family: 'din_condensedbold';
  text-transform: none;
}

h2 {
  padding: 0 0 8px 0;
  font-family: 'dincond-mediumregular';
  text-transform: none;
}

/* HEADER VIEW */
/******************************************/
#header-view {
  .full-menu .logo {
    display: none;
  }
}

/* HERO VIEW */
/******************************************/
#hero-view {
  background: #4C85C5;

  .image.ready {
    opacity: 0.15;
  }

  .campaign-tagline {
    text-transform: uppercase;
    font-size: 1.44em;
    line-height: 1.3em;
  }

  .campaign-tagline2 {
    padding: 10px 0;
    font-family: 'din_condensedbold';
    font-size: 4.5em;
    line-height: 1em;
    text-transform: uppercase;
  }

  .campaign-tagline3 {
    font-family: 'dincond-mediumregular';
    font-size: 1.4em;
    line-height: 1.2em;
  }
}

/* CHALLENGES VIEW */
/******************************************/
#challenges-view {
  background: #FFF;

  .loader-view {
    .double-bounce1,
    .double-bounce2 {
      background-color: #ff582c;
    }
  }

  h2 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal
  }
}

/* INTRO VIEW */
/******************************************/
#intro-view {
  background: #000;
  color: #FFF;
  font-size: 1em;
  line-height: 1.4em;

  h1 {
    color: #FFF;
    font-size: 3.4em;
  }

  h2 {
    color: #FFF;
    font-size: 1.4em;
  }
}

/* HOW To GUIDE VIEW */
/******************************************/
#howtoguide-view {
  background: #E3E6EA;
  font-size: inherit;

  h2 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

@media (min-width: 1024px) {
}
