body {
  color: #9b9b9b;
}

h1,
h2 {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

.strong {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* HEADER VIEW */
/******************************************/
#header-view {
  .link, a.link, 
  .link:visited, a.link:visited, 
  .link:active, a.link:active {
    color: #fff;
  }

  .link:hover, a.link:hover, 
  ul li.active .link, ul li.active a.link {
    color: #fff;
  }

  .menus li:hover strong {
    border-bottom: 2px solid #fff;
  }
}

/* HERO VIEW */
/******************************************/
#hero-view {
  .campaign-title .campaign-tagline {
    font-family: 'wwfregular', sans-serif;
  }

  .campaign-title .campaign-tagline .bigger {
  }

  .campaign-title .campaign-tagline2 {
    font-family: 'PFDINTextPro-Black', sans-serif;
  }
}

/* CHALLENGES VIEW */
/******************************************/
#challenges-view {
  .challenge-view {
    .campaign-sticker {
      width: 105px;
      height: 105px;
      background: url(../../images/wwf-uk/wwf_sabyinyo.svg) no-repeat top center;
    }

    .content {
      .image-container {
        .blank {
          .text {
            font-family: 'wwfregular', sans-serif;
            background-color: #d6d3ca;
            color: transparent;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
            -webkit-background-clip: text;
               -moz-background-clip: text;
                    background-clip: text;
          }
        }
      }
    }
  }
}

/* SUMMARY VIEW */
/******************************************/
.summary-total-raised .total,
.summary-total-raised .title,
.summary-total-climbed .title {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* LEADER VIEW */
/******************************************/
#leader-view {
  color: #474747;
  background: #d3d1c8 url(../../images/wwf-uk/leaderboard.jpg) no-repeat bottom center;

  .fundraise-detail .name,
  .fundraise-detail .amount {
    font-family: 'PFDINTextPro-Black', sans-serif;
  }

  .fundraise-detail .name {
    color: #474747;
  }

  .leader .marker:after {
    background-color: #f16d49;
  }
}

/* SUPPORTER SEARCH VIEW */
/******************************************/
#supporter-search-view .search-panel input {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* COMMUNITY VIEW */
/******************************************/
#community-view {
  .post {
    .name {
      a, 
      a:hover, 
      a:active, 
      a:visited {
        color: #474747;
      }
    }
  }
}

/* AUTOCOMPLETE */
/******************************************/
.suggest .ui-autocomplete li .match-name {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* FOOTER VIEW */
/******************************************/
#footer-view {
  background-color: #fff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #header-view {
    position: absolute;
    top: 0;
  }

  #hero-view {
    margin-top: 26px;

    .campaign-sticker {
      width: 108px;
      height: 108px;
    }
  }

  #intro-view .decoration {
    bottom: -300px;
    left: -290px;
    width: 581px;
    height: 440px;
  }

  #supporter-search-view .supporter-search-container {
    background-position: bottom left;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #header-view {
    height: 178px;
  }

  #challenges-view {
    margin: -138px auto 44px auto;
  }
}

@media (min-width: 1024px) {
  #hero-view {
    .hero-container {
      margin: 0 auto;
      width: 992px;  
    }

    .campaign-sticker {
      right: 0;
    }
  }
}
