body {
  color: #9b9b9b;
}

h1,
h2 {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

.strong {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* HEADER VIEW */
/******************************************/
#header-view {
  .link, a.link, 
  .link:visited, a.link:visited, 
  .link:active, a.link:active {
    color: #fff;
  }

  .link:hover, a.link:hover, 
  ul li.active .link, ul li.active a.link {
    color: #fff;
  }

  .menus li:hover strong {
    border-bottom: 2px solid #fff;
  }
}

/* HERO VIEW */
/******************************************/
#hero-view {
  .campaign-title .campaign-tagline {
    font-family: 'wwfregular', sans-serif;
  }

  .campaign-title .campaign-tagline .bigger {
  }

  .campaign-title .campaign-tagline2 {
    font-family: 'PFDINTextPro-Black', sans-serif;
  }
}

/* CHALLENGES VIEW */
/******************************************/
#challenges-custom-view {
  position: relative;
  padding: 100px 0 12px 0;

  .challenges-container-view {
    font-size: 1.2em;
    line-height: 1.3em;

    .vote-view {
      display: none;
    }

    .challenge-view {
      position: relative;
      margin: 12px;
      padding: 14px;
      background: #FFF;
      box-shadow: 0px 5px 10px rgba(25, 56, 72, 0.2);

      .coming-soon {
        position: absolute;
        top: 0;
        right: 0;
      }

      .campaign-sticker {
        width: 105px;
        height: 105px;
        background: url(../../images/wwf-uk/wwf_sabyinyo.svg) no-repeat top center;
      }

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .image-container {
          position: relative;

          .image {
            width: 100%;

            img {
              width: 100%;
            }
          }

          .blank {
            position: relative;
            width: 100%;
            height: 200px;
            background: #eeeeeb;
            -webkit-box-shadow: inset 4px 4px 0px 0px rgba(235,235,230,1);
            -moz-box-shadow: inset 4px 4px 0px 0px rgba(235,235,230,1);
            box-shadow: inset 4px 4px 0px 0px rgba(235,235,230,1);

            .text {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              margin-top: -62px;
              text-align: center;
              font-size: 3.2em;
              line-height: 1em;
              text-transform: uppercase;
              font-family: 'wwfregular', sans-serif;
              background-color: #d6d3ca;
              color: transparent;
              text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
              -webkit-background-clip: text;
              -moz-background-clip: text;
              background-clip: text;
            }
          }

          .campaign-sticker {
            position: absolute;
            bottom: 16px;
            left: 12px;
          }
        }

        .text-container {
          padding: 20px 0 0 0;

          p {
            padding: 6px 0;
          }

          .form-container {
            padding: 8px 0;

            .form-check {
              margin: 11px 0;
            }
          }
        }

        .butty {
          margin-top: auto;
          padding: 0 0 6px 0;
        }
      }
    }
  }

  input[type='radio'] {
    margin-right: 12px;
  }
}








#challenges-view {
  .challenge-view {
    .campaign-sticker {
      width: 105px;
      height: 105px;
      background: url(../../images/wwf-uk/wwf_sabyinyo.svg) no-repeat top center;
    }

    .content {
      .image-container {
        .blank {
          .text {
            font-family: 'wwfregular', sans-serif;
            background-color: #d6d3ca;
            color: transparent;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
            -webkit-background-clip: text;
               -moz-background-clip: text;
                    background-clip: text;
          }
        }
      }
    }
  }
}

/* SUMMARY VIEW */
/******************************************/
.summary-total-raised .total,
.summary-total-raised .title,
.summary-total-climbed .title {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* LEADER VIEW */
/******************************************/
#leader-view {
  color: #474747;
  background: #d3d1c8 url(../../images/wwf-uk/leaderboard.jpg) no-repeat bottom center;

  .fundraise-detail .name,
  .fundraise-detail .amount {
    font-family: 'PFDINTextPro-Black', sans-serif;
  }

  .fundraise-detail .name {
    color: #474747;
  }

  .leader .marker:after {
    background-color: #f16d49;
  }
}

/* SUPPORTER SEARCH VIEW */
/******************************************/
#supporter-search-view .search-panel input {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* COMMUNITY VIEW */
/******************************************/
#community-view {
  .post {
    .name {
      a, 
      a:hover, 
      a:active, 
      a:visited {
        color: #474747;
      }
    }
  }
}

/* AUTOCOMPLETE */
/******************************************/
.suggest .ui-autocomplete li .match-name {
  font-family: 'PFDINTextPro-Black', sans-serif;
}

/* FOOTER VIEW */
/******************************************/
#footer-view {
  background-color: #fff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #hero-view {
    margin-top: 26px;

    .campaign-sticker {
      width: 108px;
      height: 108px;
    }
  }

  #intro-view .decoration {
    bottom: -300px;
    left: -290px;
    width: 581px;
    height: 440px;
  }

  #challenges-custom-view {
    padding: 0;

    .challenges-container-view {
      .vote-view {
        display: block;
      }

      .challenge-view {
        .content {
          .image-container {
            .image {
              height: 320px;
              background-repeat: no-repeat;
              background-size: cover;

              img {
                display: none;
              }
            }

            .campaign-sticker {
              bottom: 25px;
              left: 30px;
            }
          }

          .text-container {
            padding: 30px 20px 0 20px;
          }

          .butty {
            padding: 0 20px 20px 20px;
          }
        }
      }
    }
  }

  #supporter-search-view .supporter-search-container {
    background-position: bottom left;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #header-view {
    height: 178px;
  }

  #hero-view,
  #hero-view .image {
    height: 620px;
  }

  #hero-view .campaign-title {
    left: 105px;
    bottom: 166px;
  }

  #challenges-custom-view {
    width: 940px;
    margin: -138px auto 44px auto;

    .challenges-container-view {
      display: flex;
      margin: 0 -12px;

      .challenge-view {
        width: 300px;

        .content {
          .image-container {
            .image {
              height: 256px;
            }
          }
        }
      }

      .challenge-view:first-child {
        width: 620px;
      }
    }
  }
}

@media (min-width: 1024px) {
  #hero-view {
    .hero-container {
      margin: 0 auto;
      width: 992px;  
    }

    .campaign-sticker {
      right: 0;
    }
  }
}
