body {
  color: #9b9b9b; }

h1,
h2 {
  font-family: 'PFDINTextPro-Black', sans-serif; }

.strong {
  font-family: 'PFDINTextPro-Black', sans-serif; }

/* HEADER VIEW */
/******************************************/
#header-view .link, #header-view a.link,
#header-view .link:visited, #header-view a.link:visited,
#header-view .link:active, #header-view a.link:active {
  color: #fff; }

#header-view .link:hover, #header-view a.link:hover,
#header-view ul li.active .link, #header-view ul li.active a.link {
  color: #fff; }

#header-view .menus li:hover strong {
  border-bottom: 2px solid #fff; }

/* HERO VIEW */
/******************************************/
#hero-view .campaign-title .campaign-tagline {
  font-family: 'wwfregular', sans-serif; }

#hero-view .campaign-title .campaign-tagline2 {
  font-family: 'PFDINTextPro-Black', sans-serif; }

/* CHALLENGES VIEW */
/******************************************/
#challenges-custom-view {
  position: relative;
  padding: 100px 0 12px 0; }
  #challenges-custom-view .challenges-container-view {
    font-size: 1.2em;
    line-height: 1.3em; }
    #challenges-custom-view .challenges-container-view .vote-view {
      display: none; }
    #challenges-custom-view .challenges-container-view .challenge-view {
      position: relative;
      margin: 12px;
      padding: 14px;
      background: #FFF;
      box-shadow: 0px 5px 10px rgba(25, 56, 72, 0.2); }
      #challenges-custom-view .challenges-container-view .challenge-view .coming-soon {
        position: absolute;
        top: 0;
        right: 0; }
      #challenges-custom-view .challenges-container-view .challenge-view .campaign-sticker {
        width: 105px;
        height: 105px;
        background: url(../../images/wwf-uk/wwf_sabyinyo.svg) no-repeat top center; }
      #challenges-custom-view .challenges-container-view .challenge-view .content {
        display: flex;
        flex-direction: column;
        height: 100%; }
        #challenges-custom-view .challenges-container-view .challenge-view .content .image-container {
          position: relative; }
          #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .image {
            width: 100%; }
            #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .image img {
              width: 100%; }
          #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .blank {
            position: relative;
            width: 100%;
            height: 200px;
            background: #eeeeeb;
            -webkit-box-shadow: inset 4px 4px 0px 0px #ebebe6;
            -moz-box-shadow: inset 4px 4px 0px 0px #ebebe6;
            box-shadow: inset 4px 4px 0px 0px #ebebe6; }
            #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .blank .text {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              margin-top: -62px;
              text-align: center;
              font-size: 3.2em;
              line-height: 1em;
              text-transform: uppercase;
              font-family: 'wwfregular', sans-serif;
              background-color: #d6d3ca;
              color: transparent;
              text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
              -webkit-background-clip: text;
              -moz-background-clip: text;
              background-clip: text; }
          #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .campaign-sticker {
            position: absolute;
            bottom: 16px;
            left: 12px; }
        #challenges-custom-view .challenges-container-view .challenge-view .content .text-container {
          padding: 20px 0 0 0; }
          #challenges-custom-view .challenges-container-view .challenge-view .content .text-container p {
            padding: 6px 0; }
          #challenges-custom-view .challenges-container-view .challenge-view .content .text-container .form-container {
            padding: 8px 0; }
            #challenges-custom-view .challenges-container-view .challenge-view .content .text-container .form-container .form-check {
              margin: 11px 0; }
        #challenges-custom-view .challenges-container-view .challenge-view .content .butty {
          margin-top: auto;
          padding: 0 0 6px 0; }
  #challenges-custom-view input[type='radio'] {
    margin-right: 12px; }

#challenges-view .challenge-view .campaign-sticker {
  width: 105px;
  height: 105px;
  background: url(../../images/wwf-uk/wwf_sabyinyo.svg) no-repeat top center; }

#challenges-view .challenge-view .content .image-container .blank .text {
  font-family: 'wwfregular', sans-serif;
  background-color: #d6d3ca;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

/* SUMMARY VIEW */
/******************************************/
.summary-total-raised .total,
.summary-total-raised .title,
.summary-total-climbed .title {
  font-family: 'PFDINTextPro-Black', sans-serif; }

/* LEADER VIEW */
/******************************************/
#leader-view {
  color: #474747;
  background: #d3d1c8 url(../../images/wwf-uk/leaderboard.jpg) no-repeat bottom center; }
  #leader-view .fundraise-detail .name,
  #leader-view .fundraise-detail .amount {
    font-family: 'PFDINTextPro-Black', sans-serif; }
  #leader-view .fundraise-detail .name {
    color: #474747; }
  #leader-view .leader .marker:after {
    background-color: #f16d49; }

/* SUPPORTER SEARCH VIEW */
/******************************************/
#supporter-search-view .search-panel input {
  font-family: 'PFDINTextPro-Black', sans-serif; }

/* COMMUNITY VIEW */
/******************************************/
#community-view .post .name a,
#community-view .post .name a:hover,
#community-view .post .name a:active,
#community-view .post .name a:visited {
  color: #474747; }

/* AUTOCOMPLETE */
/******************************************/
.suggest .ui-autocomplete li .match-name {
  font-family: 'PFDINTextPro-Black', sans-serif; }

/* FOOTER VIEW */
/******************************************/
#footer-view {
  background-color: #fff; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #header-view {
    position: absolute;
    top: 0; }
  #hero-view {
    margin-top: 26px; }
    #hero-view .campaign-sticker {
      width: 108px;
      height: 108px; }
  #intro-view .decoration {
    bottom: -300px;
    left: -290px;
    width: 581px;
    height: 440px; }
  #challenges-custom-view {
    padding: 0; }
    #challenges-custom-view .challenges-container-view .vote-view {
      display: block; }
    #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .image {
      height: 320px;
      background-repeat: no-repeat;
      background-size: cover; }
      #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .image img {
        display: none; }
    #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .campaign-sticker {
      bottom: 25px;
      left: 30px; }
    #challenges-custom-view .challenges-container-view .challenge-view .content .text-container {
      padding: 30px 20px 0 20px; }
    #challenges-custom-view .challenges-container-view .challenge-view .content .butty {
      padding: 0 20px 20px 20px; }
  #supporter-search-view .supporter-search-container {
    background-position: bottom left; } }

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #header-view {
    height: 178px; }
  #challenges-custom-view {
    width: 940px;
    margin: -138px auto 44px auto; }
    #challenges-custom-view .challenges-container-view {
      display: flex;
      margin: 0 -12px; }
      #challenges-custom-view .challenges-container-view .challenge-view {
        width: 300px; }
        #challenges-custom-view .challenges-container-view .challenge-view .content .image-container .image {
          height: 256px; }
      #challenges-custom-view .challenges-container-view .challenge-view:first-child {
        width: 620px; } }

@media (min-width: 1024px) {
  #hero-view .hero-container {
    margin: 0 auto;
    width: 992px; }
  #hero-view .campaign-sticker {
    right: 0; } }
