body {
  font-family: 'PFDinTextPro-Regular', sans-serif; }
  body.map-ready #page-view {
    background: url("../../images/wwf-uk/bottom-big-blurry-leaf.png") no-repeat;
    background-position: left -294px bottom 178px; }

#page-view .embelish-left {
  top: -128px;
  left: -172px;
  width: 200px;
  height: 245px;
  background: url("../../images/wwf-uk/left-leaves.png") no-repeat top center; }

#page-view .embelish-right {
  top: 3px;
  right: -137px;
  width: 175px;
  height: 230px;
  background: url("../../images/wwf-uk/right-leaves.png") no-repeat top center; }

#page-view .stripe {
  display: none; }

/*
/* STORY OVERLAY */
/******************************************/
.modal.story-overlay .detail-title,
.modal.locked-story-overlay .detail-title {
  font-family: 'PFDINTextPro-Black', sans-serif;
  color: #474747; }

.modal.story-overlay .content .text {
  color: #a3a3a3; }

.modal.story-overlay .text-title,
.modal.locked-story-overlay .text-title {
  font-family: 'PFDINTextPro-Black', sans-serif;
  color: #9b9b9b; }

.modal.story-overlay .text-title.big {
  color: #474747; }

/* FUNDRAISE STICKER */
/******************************************/
.fundraise-sticker {
  background: #f16d49; }
  .fundraise-sticker .percent {
    background-color: #f69741; }
  .fundraise-sticker .details .raised {
    font-family: 'PFDinTextPro-Regular', sans-serif; }
    .fundraise-sticker .details .raised .amount {
      font-family: 'PFDINTextPro-Black', sans-serif;
      padding-left: 6px; }

/* SHOPPING LIST */
/******************************************/
.shopping-list-sticker {
  width: 92px;
  height: 92px;
  background: url(../../images/wwf-uk/wwf_sabyinyo.svg) no-repeat top center; }

.shopping-list .shopping-list-item .content .text {
  color: #9b9b9b; }

.shopping-list .shopping-list-item .amount,
.shopping-list .shopping-list-item .item-title {
  font-family: 'PFDINTextPro-Black', sans-serif;
  color: #9b9b9b; }

.shopping-list .shopping-list-item .amount {
  color: #474747; }

/* MAP VIEW */
/******************************************/
#map-view #piste-view .credits {
  width: 140px !important; }

#map-view .countdown .days {
  font-size: 2em; }

/* PLAYER VIEW */
/******************************************/
#player-view .summary .arrow {
  color: #9b9b9b; }

#player-view .summary .player-summary .overview {
  line-height: 1.1em; }

#player-view .summary .player-summary .overview .name,
#player-view .summary .player-summary .overview .summit {
  color: #474747;
  text-transform: uppercase; }

#player-view .summary .player-summary .overview h1 {
  padding-bottom: 0;
  font-family: 'PFDINTextPro-Black', sans-serif;
  font-size: 1em;
  color: #474747; }

#player-view .list .player-ranking {
  color: #a3a3a3; }

#player-view .list .player-ranking .ranking {
  background: #a3a3a3; }

#player-view .list .player-ranking.active,
#player-view .list .player-ranking:hover {
  color: #474747; }

#player-view .list .player-ranking.active .ranking,
#player-view .list .player-ranking:hover .ranking {
  background: #f16d49; }

#player-view .list .player-ranking.active .overview,
#player-view .list .player-ranking:hover .overview {
  border-left: 1px solid #d7d7d7; }

#player-view .detail .game-funcs {
  padding-bottom: 32px; }

#player-view .detail .player .overview h1 {
  font-family: 'PFDINTextPro-Black', sans-serif;
  text-transform: uppercase; }

#player-view .detail .player .overview .name {
  color: #f69741; }

#player-view .detail .player .overview .player-name {
  color: #f16d49; }

#player-view .detail .player .overview .summit,
#player-view .detail .player .overview .summit h1 {
  color: #28a79d; }

#player-view .detail .player .overview .pos {
  padding-top: 3px;
  color: #28a79d;
  border-left: 1px solid #28a79d; }

#player-view .detail .player .overview .pos .ranking {
  margin-bottom: 11px;
  font-family: 'PFDINTextPro-Black', sans-serif;
  line-height: 24px;
  background-color: #28a79d; }

#player-view .detail .player .latest-activity {
  color: #474747; }

#player-view .detail .player .latest-activity-blank {
  height: 60px; }

#player-view .detail .player .latest-activity .icon {
  background-color: #f69741; }

#player-view .detail .player .latest-activity .latest {
  color: #a3a3a3; }

#player-view .detail .shopping-list,
#player-view .detail .fundraising-donations-view {
  background: #eeeeeb; }

#player-view .detail .fundraising-donations-view .title {
  color: #474747; }

#player-view .detail .shopping-list {
  padding-top: 78px; }

#player-view .detail .player .welcome {
  color: #a3a3a3;
  text-transform: uppercase; }

#player-view .detail .player .fundraising-donation-view .title {
  font-family: 'PFDINTextPro-Black', sans-serif; }

#player-view .detail .player .fundraising-donations-view .donation-detail {
  color: #9b9b9b;
  text-transform: uppercase; }

#player-view .detail .player .fundraising-donations-view .title {
  font-family: 'PFDINTextPro-Black', sans-serif; }

#player-view .detail .player .fundraising-donations-view .donation-detail .name {
  font-family: 'PFDINTextPro-Black', sans-serif;
  color: #474747; }

#player-view .detail .player .fundraising-donations-view .donation-detail .amount {
  background-color: #f16d49; }

#player-view .detail .player .fundraising-donations-view .donation-msg .quote {
  font-family: 'PFDINTextPro-Black', sans-serif; }

#player-view .detail .back-to-mountain {
  font-family: 'PFDINTextPro-Black', sans-serif; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #player-view .detail .player {
    padding-bottom: 56px; }
  #player-view .detail .shopping-list,
  #player-view .detail .photo-posts-view,
  #player-view .detail .fundraising-donations-view {
    background: #FFF; }
  .btn.btn-large {
    font-size: 1.1em; }
  body.fundraising #player-view .detail .player .fundraise-sticker .details .raised {
    margin-top: 24px; }
  #player-view .detail .game-funcs {
    padding-top: 94px; }
  #footer-view {
    margin-top: 0; } }

/* Small devices (tablets, 992px and up) */
